*,
*::before,
*::after {
  box-sizing: border-box;
}

body {  /* background: linear-gradient(90deg, rgba(48, 16, 255, 1) 0%, rgba(100, 115, 255, 1) 100%); */
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, lightblue , pink);
  min-height: 100vh;
  margin: 0;
}
.todo-app {
  display: flex;
  flex-direction: column;
  width: 800px;
  background: #161a2b;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.select-list {
  width: 320px !important;
  margin: auto;
  display: inline-block !important;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  margin: 5px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-label {
  color: #fff;
  min-width: 100px;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  margin: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(90deg, rgba(255, 12, 241, 1) 0%, rgba(250, 0, 135, 1) 100%);
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
}

.todo-row > div {
  min-width: 120px;
  text-align: start;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.w-50.mt-4.container-fluid {
  width: 900px !important;
}

.form-container {
  padding: 20px 40px;
  border: 3px solid gray;
  border-radius: 10px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-color: #607d8b;
}

.form-group {
  color: white
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container a {
  margin: 10px;
  color: #00f3ff;
  font-weight: bold;
  text-decoration: none;
}
.form-container a:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.form-container h1 {
  text-align: center;
  text-shadow: 2px 2px 4px midnightblue;
}

.form-container button {
  margin-top: 25px;
  margin-bottom: 5px;
  padding: 10px 15px;

  background-color: green;
  border: 1px solid darkgreen;
  color: white;
  border-radius: 6px;

  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.form-group {
  margin-bottom: 5px;
}

.form-group label {
  display: block;
  margin-bottom: 4px;
  color: white;
}

.form-group input {
  width: 200px;
  padding: 4px 10px;
}

.radio-group {
  align-self: flex-start;
}

.radio-group label:hover {
  cursor: pointer;
}

.radio-group input {
  margin: 5px 5px 6px 5px;
}

.checkbox-group {
  display: flex;
}

.checkbox-group input {
  margin: 6px 5px 6px 5px;
}

.users-container {
  margin: 10px 0px;
}
.user-item {
  border-radius: 5px;
  margin: 5px;
}

.user-item:nth-child(2n+1) {
  background: pink;
}

.user-item:nth-child(2n) {
  background: lightgray;
}
.button-basic {
  background: cadetblue;
  color: white;
  border-radius: 10px;
}
